---
---

<h3 text-2xl>⚡Skills</h3>
<img
  w-full
  src="https://skillicons.dev/icons?perline=14&i=ansible,azure,bash,cloudflare,css,devto,discord,django,docker,fastapi,git,github,githubactions,gitlab,go,gradle,graphql,grafana,heroku,html,idea,java,jenkins,linux,md,mastodon,maven,misskey,mysql,netlify,nginx,nodejs,nuxtjs,ps,postman,powershell,pr,prometheus,py,redis,regex,replit,ruby,sqlite,stackoverflow,svg,twitter,ts,vercel,vim,vite,vscode,vue"
  alt=""
/>
